:root {
  --text-color: #191919;
  --link-color: #1b779b;
  --background-color: #f8f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* when you click inthe ID, it going to scroll dowm like soft*/
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none; /* delete the line under the link*/
}

/*NAVBAR*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
  background-color: rgb(244, 248, 247);
}
nav .left a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
}
nav .right a {
  color: var(--text-color);
  margin: 0 10px;
  transition: 0.5s;
}
nav .right a span {
  margin-left: 5px;
}
nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}
nav .right a:hover {
  color: white;
  background-color: #4a96b4;
  border-radius: 5px;
  padding: 5px 15px;
  transform: translateY(-6px);
}

/*SECTION 1: HERO*/
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 200px;
  gap: 40px;
}
.hero-section .text {
  flex: 5;
}
.hero-section .text h2 {
  font-size: 45px;
}
.hero-section .text .link {
  margin: 25px;
}
.hero-section .text .link a {
  display: inline-block; /* For keep each a with the icon and dont break*/
  color: #191919;
  padding: 5px 10px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.hero-section .text .link a:hover {
  color: white;
  background-color: #4a96b4;
  transform: translateY(-6px);
}
.hero-section .headshot {
  flex: 2;
}
.hero-section .headshot img {
  width: 800px;
  clip-path: circle(35%);
}

/*SECTION 2: SKLILLS*/
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.skills-section h2 {
  text-align: center;
  font-size: 45px;
}
.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}
.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 40px;
  margin-right: 0 30px;
}
.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  padding: 10px 5px;
  border: 1px solid rgb(172, 167, 167);
  border-radius: 5px;
  margin: 10px;
}
.skills-section .cells .cell span {
  font-size: 30px;
}
.skills-section .cells .cell p {
  display: none;
}
.skills-section .cells .cell:hover p {
  height: auto;
  display: block;
}
.skills-section .cells .cell:hover i, .skills-section .cells .cell:hover span {
  display: none;
}

@media (max-width: 900px) {
  /*SECTION 1 HERO*/
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section .text h2 {
    font-size: 25px;
  }
  .hero-section .headshot img {
    width: 400px;
  }
}
@media (max-width: 600px) {
  /*NAVBAR*/
  nav {
    padding: 0 20px;
  }
  nav .right a span {
    display: none;
    font-size: 22px;
  }
  nav .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }
  /*SECTION 2: SKLILLS*/
  .skills-section {
    padding: 0 20px;
  }
  .skills-section .cells .cell span {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */